.button {
  background: {
    color: #a78bfa;
  }
  margin: 1rem;
  font: {
    size: 1rem;
  }
  outline: none;
  border: none;
  border: {
    radius: 8%;
  }
  padding: 0.8rem;
  cursor: pointer;
}
